/java-updates.iml
/.idea/
out

/m3-lambda/m3-lambda.iml
/m1-generics/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/m1-generics/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/m1-generics/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/m1-generics/target/m1-generics-1.0-SNAPSHOT.jar
/m1-generics/target/maven-archiver/pom.properties
/m3-lambda/m3-lambda.iml
/m3-lambda/target/classes/com/cydeo/Apple.class
/m3-lambda/target/classes/com/cydeo/AppleGreenColorPredicate.class
/m3-lambda/target/classes/com/cydeo/AppleHeavyPredicate.class
/m3-lambda/target/classes/com/cydeo/ApplePredicates.class
/m3-lambda/target/classes/com/cydeo/AppleTest.class
/m3-lambda/target/classes/com/cydeo/ArraysSorting.class
/m3-lambda/target/classes/com/cydeo/BubbleSort.class
/m3-lambda/target/classes/com/cydeo/Color.class
/m3-lambda/target/classes/com/cydeo/QuickSort.class
/m3-lambda/target/classes/com/cydeo/Sorting.class
/m5_comparator_interface/target/classes/com/cydeo/Apple.class
/m5_comparator_interface/target/classes/com/cydeo/AppleTest.class
/m4_double_colon_operators/target/classes/com/cydeo/Calculate.class
/m4_double_colon_operators/target/classes/com/cydeo/Calculator.class
/m4_double_colon_operators/target/classes/com/cydeo/Car.class
/m4_double_colon_operators/target/classes/com/cydeo/CarTest.class
/m5_comparator_interface/target/classes/com/cydeo/Color.class
/m4_double_colon_operators/target/classes/com/cydeo/Main.class
/m5_comparator_interface/target/classes/com/cydeo/Main.class
/m4_double_colon_operators/target/classes/com/cydeo/MyClass.class
/m5_comparator_interface/target/classes/com/cydeo/MyComparator.class
